<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>4R-Spot</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/f92d7aa325.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="grid-container">
      <header class="header row">
        <div class="logo-container">
          <a href="index.html" class="logo"><span class="at">@</span>4R-Spot</a>
          <p>Nothing Can End Here</p>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="sigin.html">Sigin</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <img
                class="medium"
                src="images/bird1.jpg"
                alt="product"
                width="200px"
                height="300px"
              />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Bird</h2>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star-o"></i></span>
              </div>
              <div class="price">Rs.350</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All Rights Reserved</footer>
    </div>
  </body>
</html>
